/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
}

/*
===================================================================
SOURCE FONTS https://freefontsfamily.com/futura-font-family-free/
===================================================================
*/

@font-face {
    font-family: 'futuralight';
    src: url('../fonts/futura_light_bt-webfont.woff2') format('woff2'), url('../fonts/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* body op 0 */

body {
    margin: 0;
    padding: 0;
}

/* header voor desktop inladen met mediaquery */

header nav {
    display: none;
}
section:first-of-type img:last-of-type {
    display: none;
}

/* standaard waarde html elements */

li {
    list-style: none;
}
a {
    text-decoration: none;
}
section:nth-of-type(3) P:nth-of-type(2) {
    display: none;
}
h1,
h2,
h3,
nav {
    font-family: futuralight;
    text-transform: uppercase;
    letter-spacing: .2em;
}
img {
    max-width: 100%;
}

/*
==========================================
          HEADER
==========================================
*/

header {
    position: relative;
    display: flex;
    justify-content: center;
}
div {
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100vw;
    background-color: rgba(249, 252, 247, .4);
    z-index: 10;
}
header img:first-of-type {
    position: absolute;
    top: -6vw;
    width: calc(7em + 29vw);
    height: auto;
}

/*
==========================================
            FIRST SECTION
==========================================
*/

section:first-of-type {
    position: relative;
}
section:first-of-type img {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 7.5vh solid rgba(244, 244, 244, 1);
}
h1 {
    position: absolute;
    left: 10vw;
    right: 10vw;
    top: 40%;
    text-align: center;
    font-family: futuralight;
    letter-spacing: .3em;
    font-size: clamp(7vw, 5vw, 10vw);
}
section:first-of-type p {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 50%;
    margin: 0;
    padding: 1em;
    font-family: futuralight;
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 1.5em;
    text-align: center;
    z-index: 30;
}
section:first-of-type a {
    position: absolute;
    display: block;
    left: 30%;
    right: 30%;
    top: 63%;
    margin: 0;
    padding: 2.5%;
    font-family: futuralight;
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: center;
    color: rgba(0, 8, 28, 1);
    border: 1px solid black;
    border-radius: .2em;
}

/*
==========================================
          SECOND SECTION
==========================================
*/

section:nth-of-type(2) ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: clamp(2vh, 3vh, 7vh);
}
section:nth-of-type(2) li {
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 5%;
    width: clamp(100px, 42.2vw, 200px);
    height: clamp(40px, 1vw, 50px);
    border: solid rgba(0, 8, 28);
    border-radius: .2em;
    background-color: rgba(0, 8, 28, 1);
}
section:nth-of-type(2) h3 {
    font-size: clamp(.7em, .5em, 10em);
    font-weight: lighter;
    letter-spacing: .3em;
    text-align: center;
    color: rgba(205, 188, 122, 1);
}

/*
==========================================
          THIRD SECTION
==========================================
*/

section:nth-of-type(3) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 12vh;
    padding: 0;
    font-family: futuralight;
}
section:nth-of-type(3) h2 {
    position: absolute;
    left: 1.5em;
    right: 1em;
    top: -10vh;
    padding: 0;
    margin: 0;
    font-size: calc(1em + .1vw);
    font-weight: lighter;
    text-align: center;
}
section:nth-of-type(3) article {
    width: clamp(150px, 48%, 350px);
    height: auto;
    padding: 2vw;
}
section:nth-of-type(3) img {
    width: clamp(150px, 100%, 350px);
    height: auto;
}
section:nth-of-type(3) aside {
    display: inline-block;
    margin: 5%;
    padding: 1% 2%;
    font-size: 3.2vw;
    letter-spacing: .3em;
    text-transform: uppercase;
    background-color: black;
    color: white;
}
section:nth-of-type(3) h3 {
    margin-top: .1em;
    margin-bottom: .3em;
    font-size: 75%;
    font-weight: lighter;
}
section:nth-of-type(3) button:first-of-type {
    width: 5%;
    height: 5%;
    padding: 6.5%;
    border: .1em solid rgba(0, 8, 28, 1);
    border-radius: 50%;
    background-color: rgba(229, 174, 135, 1);
}
section:nth-of-type(3) button:last-of-type {
    width: 5%;
    height: 5%;
    padding: 6.5%;
    border: none;
    border-radius: 50%;
    background-color: rgba(193, 193, 193, 1);
}
section:nth-of-type(3) p:first-of-type::first-letter {
    font-family: futuralight;
    font-size: 100%;
    text-transform: uppercase;
}
section:nth-of-type(3) p {
    font-size: .85em;
    margin: 0;
    padding: 3%;
}

/*
==========================================
          FOURTH SECTION
==========================================
*/

section:nth-of-type(4) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: clamp(20vh, 25vh, 30vh);
}
section:nth-of-type(4) article {
    position: relative;
    width: clamp(150px, 100%, 350px);
    flex-grow: 3;
}
section:nth-of-type(4) h2 {
    position: absolute;
    left: 10%;
    right: 10%;
    font-size: clamp(1.3em, 1vw, 2.8em);
    font-weight: 200;
    text-align: center;
}
section:nth-of-type(4) article:first-of-type h2 {
    top: 10%;
    margin: 0;
    padding: 0;
    color: white;
}
section:nth-of-type(4) article:nth-of-type(2) h2 {
    top: 10%;
    margin: 0;
    padding: 0;
}
section:nth-of-type(4) article:last-of-type p {
    position: absolute;
    left: 1em;
    font-family: futuralight;
    font-size: clamp(.8em, 1vw, 2.8em);
    text-transform: uppercase;
}
section:nth-of-type(4) a {
    position: absolute;
    left: 0;
    font-family: futuralight;
    color: black;
}

/*
==========================================
          FIFTH SECTION
==========================================
*/

section:nth-of-type(5) {
    background: rgba(237, 232, 228, 1);
    position: relative;
    top: 10em;
}
section:last-of-type {
    position: relative;
    top: 10em;
}

/*

===================================================================
media query Desktop
===================================================================
*/

@media (min-width: 900px) {
    section:first-of-type img:last-of-type {
        display: block;
    }
    section:first-of-type img:first-of-type {
        display: none;
    }
    nav li h2 {
        display: block;
    }
}
