/* CSS Document */

*,
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* SOURCE FONTS https://freefontsfamily.com/futura-font-family-free/ */

@font-face {
    font-family: 'futuralight';
    src: url('../fonts/futura_light_bt-webfont.woff2') format('woff2'), url('../fonts/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
a,
h1,
h2,
h3,
nav {
    font-family: futuralight;
    text-transform: uppercase;
    letter-spacing: .2em;
}
img {
    width: 100%;
}

/* Header - mobile and tablet */


header h1{
    font-weight:bolder;
    text-align: center;

}

header div:first-of-type {
    background-image: url(../images/imgheader-mobile.jpg);
    background-size: cover;
    width: 100%;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-top: 0;
}
header nav {
    position: fixed;
    top: 0;
    background-color: rgba(249, 252, 247, .4);
    width: 100vw;
    height: 4em;
    padding-top: 5em;
}
header li {
    font-size: .7em;
    margin: 1em;
}
header li a {
    color: black;
}
header ul:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(249, 252, 247, .6);
    padding: 0;
    margin: 0;
}
header h2 {
    margin-top: 5em;
    margin-bottom: 0;
    font-size: 1.5em;
}
header p {
    margin: 0;
    padding: .5em;
}

/* Header - desktop */

@media (min-width: 960px) {
    header div:first-of-type {
        background-image: url(../images/imgheader-desktop.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 40vw;
    }
}

/* main - subnav mobile and tablet */

main nav:first-of-type ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0;
    margin: 1em 1em 1.5em 1em;
    text-align: center;
}
main nav:first-of-type li {
    padding: .4em;
    border: .1em solid rgba(0, 8, 28);
    border-radius: .15em;
    background-color: rgba(0, 8, 28, 1);
}
main nav:first-of-type a {
    font-size: .71em;
    letter-spacing: .25em;
    color: rgba(205, 188, 122, 1);
    line-height: 2em;
}

/* main - subnav tablet and desktop */

@media (min-width:568px) {
    main nav:first-of-type ul {
        display: flex;
        justify-content: center;
    }
    main nav:first-of-type li {
        flex: 25%;
        padding: .8em;
        max-width: 166px;
        margin: 10px;
    }
    main nav:first-of-type a {
        font-size: .75em;
    }
}

/* main section "net binnen" mobile */

main section:first-of-type div:first-of-type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: futuralight;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 7px;
}
main section:first-of-type h2 {
    font-size: calc(1em + .5vw);
    text-align: center;
}
main section:first-of-type div:first-of-type article {
    flex-basis: 50%;
    padding: .5em;
}
main section:first-of-type div:first-of-type ul {
    margin: 0;
    padding: 0em 1em;
}
main section:first-of-type div:first-of-type li {}
main section:first-of-type ul p {
    display: inline-block;
    margin: 0;
    padding: .1em .2em;
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .3em;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}
main section:first-of-type div:first-of-type h3 {
    font-size: 0.8em;
    color: black;
}

/* main section "net binnen" tablet */

@media (min-width:561px) {
    main section:first-of-type div:first-of-type article {
        flex-basis: 33%;
    }
}

/* main section "net binnen" desktop */

@media (min-width:960px) {
    main section:first-of-type div:first-of-type article {
        flex-basis: 25%;
    }
}
